<html>
	<head>
		<title>Cooperation simulator</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
		
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<script>
			function cb1(fgen1) {
				$.getJSON({
					url: "/callback1", data: { 'fgen1': fgen1 }, success: function (result) {
						Plotly.newPlot("graphJSON1", result, {staticPlot: true});;
					}
				});
			}
		</script>
		<script>
			function cb2(fgen2) {
				$.getJSON({
					url: "/callback2", data: { 'fgen2': fgen2 }, success: function (result) {
						Plotly.newPlot("graphJSON2", result, {staticPlot: true});;
					}
				});
			}
		</script>
	</head>

	<body>
		<h1>Cooperation simulator</h1>
		<form action="/" method="get">
			<table>

				<tr>
					<td>Number of generations: </td>
					<td><input type="number" name="n_gen" value="{{params['n_gen']}}"></td>
					<td class="padthis">Initial proportion of uncooperative individuals: </td>
					<td><input type="text" name="split" value="{{params['start_split']}}"></td>
					<td class="padthis">Advantageous interaction fitness multiplier: </td>
					<td><input type="text" name="mult_adva" value="{{params['mult_adva']}}"></td>
				</tr>
			
				<tr>
					<td>Population size: </td>
					<td><input type="number" name="pop_size" value="{{params['pop_size']}}"></td>
					<td class="padthis">Cooperative interaction fitness multiplier: </td>
					<td><input type="text" name="mult_c" value="{{params['mult_c']}}"></td>
					<td class="padthis">Disadvantageous interaction fitness multiplier: </td>
					<td><input type="text" name="mult_disa" value="{{params['mult_disa']}}"></td>
				</tr>
			
				<tr>
					<td>Minimum interactions per individual: </td>
					<td><input type="number" name="n_inter" value="{{params['n_inter']}}"></td>
					<td class="padthis">Uncooperative interaction fitness multiplier: </td>
					<td><input type="text" name="mult_u" value="{{params['mult_u']}}"></td>
					<td class="padthis">Seed</td>
					<td><input type="number" name="seed" value="{{params['seed']}}"></td>
				</tr>

				<tr>
					<td><input type="submit" value="LET'S GO!"></td>
				</tr>
			</table>
		</form>
		<table>
			<tr>
				<td><div id="splitJSON" class="splitJSON"></div></td>
				<td><div>Generation: F<input type="number" name="fgen1" value="{{params['fgen1']}}" onchange="cb1(this.value)" min = 0 max="{{params['n_gen']-1}}"></div><div id="graphJSON1" class="graphJSON1"></div></td>
				<td><div>Generation: F<input type="number" name="fgen2" value="{{params['fgen2']}}" onchange="cb2(this.value)" min = 0 max="{{params['n_gen']-1}}"></div><div id="graphJSON2" class="graphJSON2"></div></td>
			</tr>
		</table>
		<h2>Explanation:</h2>
		<div class='container'>
			<p>The cooperation simulator randomises interactions between "cooperative" and "uncooperative" individuals in a generation. A fitness multiplier will be applied to both individuals of any interaction.

			<p> A cooperative-cooperative interaction will apply the cooperative multiplier for both individuals. An uncooperative-uncooperative interaction will apply the uncooperative multiplier for both individuals. A cooperative-uncooperative interaction will apply the "disadvantageous" multiplier on the cooperative individual and the "advantageous" multiplier on the uncooperative individual. The proportion of the sum of the fitness of all cooperative individuals on the sum of the fitness of all individuals defines the proportion of cooperative individuals in the next generation.</p>
		</div><br>
		
		<h2>Disclaimer:</h2>
		<div class='container'>
			<p>This tool has been developed as a personal learning project. It can be used for educational purposes, but it is in no way attempting to simulate real-world situations.</p>
		</div><br>
		
		<h2>Parameters instructions:</h2>
		<div class='container'>
			<p><b>Number of generations</b>: the total number of generations to simulate. Can be any positive integer number.</p>
			
			<p><b>Population size</b>: the number of individuals in each generation. Can be any positive integer number higher than 1.</p>
			
			<p><b>Minimum interactions per individual</b>: each individual will be assigned <u>at least</u> this number of interactions. The randomisation algorithm iteratively checks for the number of connections
			of each individual and, if the minimum is not met, will assign new connections to randomly picked individuals. It does not check for the connections already present in the receiving individual,
			meaning that some individuals will end up having more interactions - particularly those that were picked out early in the iterative process. Can be any positive integer number smaller than the population size.</p>
			
			<p><b>Initial proportion of uncooperative individuals</b>: self explanatory. Can be any number between 0 and 1.</p>
			
			<p><b>Cooperative interaction fitness multiplier</b>: the fitness multiplier to be applied to each individual sharing a cooperative interaction. Can be any real positive number. Fractions are also accepted (e.g. 1/2 is the same as 0.5).</p>
			
			<p><b>Uncooperative interaction fitness multiplier</b>: the fitness multiplier to be applied to each individual sharing an uncooperative interaction. Can be any real positive number. Fractions are also accepted (e.g. 1/2 is the same as 0.5).</p>
			
			<p><b>Advantageous interaction fitness multiplier</b>: the fitness multiplier to be applied to uncooperative individuals when interacting with a cooperative individual</p>

			<p><b>Disadvantageous interaction fitness multiplier</b>: the fitness multiplier to be applied to a cooperative individuals when interacting with an uncooperative individual</p>
			
			<p><b>Seed</b>: a seed for repeatability purposes. Can be any positive integer number.</p>
			
			<p>Note: combinations of large numbers will cause the calculation to be too long and the results to not show</p>
		</div>
		
		<footer>
			<p>Author: Lorenzo Galletta<br>
			&copy; Copyright Lorenzo Galletta<br>
			<a href="mailto:lor.galletta@gmail.com">Contact</a></p>
		</footer> 
	</body>
	
	<script type="text/javascript">
		var splitgraph = {{splitJSON | safe}};
		Plotly.plot("splitJSON",splitgraph,{});
	</script>
	
	<script type="text/javascript">
		var gengraph1 = {{graphJSON1 | safe}};
		Plotly.plot("graphJSON1",gengraph1,{});
	</script>
	
	<script type="text/javascript">
		var gengraph2 = {{graphJSON2 | safe}};
		Plotly.plot("graphJSON2",gengraph2,{});
	</script>


</html>